<h2> Update Shares</h2>
<div>
    <form [formGroup]="shareForm" (ngSubmit)="onFormSubmit(shareForm.value)">
       
        <div>
            <label for="Id">Product Id</label>
            <input type="number" name="Id" id="Id" readonly
            formControlName="Id">
        </div>
        <div>
            <label for="name">Share Name</label>
            <input type="text" name="name" id="name" required
                formControlName="name">
        </div>
        <div>
            <label for="quantity">Share Quantity</label>
            <input type="number" name="quantity" id="quantity" required
                formControlName="quantity">
        </div>
        <div>
            <label for="price">Share Price</label>
            <input type="number" name="price" id="price" required
                formControlName="price">
        </div>
        
            <button type="submit"> Update Shares</button>
    </form>
</div>
