<h1>Shares Available To Buy</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>ShareName</th>
        <th>SharePrice</th>
        <th>ShareQuantity</th>
    </tr>
    <tr *ngFor="let p of ShareList">
        <td>{{p.shareId}}</td>
        <td>{{p.shareName}}</td>
        <td>{{p.sharePrice}}</td>
        <td>{{p.shareQuantity}}</td>
        <td>
            <a [routerLink]="['buy',p.shareId]">Buy</a>
        </td>
       </tr>
       <a href="/logins">logout</a>
       <a [routerLink]="['editprofile']">Edit Profile</a>
</table>

